<div class="bg-near-white pv4 ph4">
	<div class="f4 measure-wide center pv4">
		<div class="flex flex-wrap man3 f5 mid-gray">
			<div class="sans-serif w-50-ns w-100 pa3">
				<h2 class="f5 dark-gray fw7 mt0 mb3 lh-title">Access</h2>
				<span class="measure-narrow db lh-copy">
					Eliminate cost and geography as barriers to digital access.
				</span>
			</div>
			<div class="sans-serif w-50-ns w-100 pa3">
				<h2 class="f5 dark-gray fw7 mt0 mb3 lh-title">Community</h2>
				<span class="measure-narrow db lh-copy">
					Foster and support self-sustaining, community networks in both rural and urban areas.
				</span>
			</div>
			<div class="sans-serif w-50-ns w-100 pa3">
				<h2 class="f5 dark-gray fw7 mt0 mb3 lh-title">Infrastructure</h2>
				<span class="measure-narrow db lh-copy">
					Acquire, make available, and support community-owned and managed infrastructure such as fiber rings and low-cost internet exchanges.
				</span>
			</div>
			<div class="sans-serif w-50-ns w-100 pa3">
				<h2 class="f5 dark-gray fw7 mt0 mb3 lh-title">Knowledge</h2>
				<span class="measure-narrow db lh-copy">
					Perform and make available research on network hardware, software, and firmware as well as best management practices to advance community networks.
				</span>
			</div>
			<div class="sans-serif w-50-ns w-100 pa3">
				<h2 class="f5 dark-gray fw7 mt0 mb3 lh-title">People</h2>
				<span class="measure-narrow db lh-copy">
					Empower all people to determine their digital future by investing in accessible technical training and resources.
				</span>
			</div>
		</div>
	</div>
</div>